body {background-color: #AAA;}
/*id选择器*/
#name {color: blue; font-style: normal;}
/*class选择器*/
.green {color: green;}
.big {font-size: 5em;}
.small {font-size: 1.5em;}
.italic {font-style: italic;}
.oblique {font-style: oblique;}
#header {background-color: #49bd19; width: 500px; height: 50px;}
#menu {background-color: #00ffdc; float: left; height: 200px; width: 150px;}
#content {background-color: #e400ff; float: left; height: 200px; width: 350px;}
#footer {background-color: #00ff95; text-align: center; clear: both; width: 500px;}
#white {background-color: white;}